*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--main-orange: hsl(30, 75%, 65%);
	--bright-orange: hsl(30, 100%, 65%);
	/* color-scheme: dark; */
}

body {
	margin: 0;
	font-family: 'system-ui';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

#root {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
